# data ingestion
POSTGRES_CONNECTION_STRING=
COLLECTION_NAME=

# Google Drive API
GOOGLE_CREDENTIALS_PATH=credentials.json
DRIVE_NEW_FOLDER_ID=
DRIVE_PROCESSED_FOLDER_ID=

# LLM api key
OPENAI_API_KEY=

# LLAMA document parser
LLAMA_CLOUD_API_KEY=

