# data ingestion
POSTGRES_CONNECTION_STRING=
COLLECTION_NAME=

# Google Drive API
GOOGLE_CREDENTIALS_PATH=credentials.json
DRIVE_NEW_FOLDER_ID=
DRIVE_PROCESSED_FOLDER_ID=
DRIVE_GROUND_TRUTH_FOLDER_ID=
# LLM api key
OPENAI_API_KEY=

# OpenWeatherMAP 
OPENWEATHERMAP_BASE_URL=
OPENWEATHERMAP_API_KEY=

# Authentication mode
AUTH_MODE=postgres
jwt_secret_key=