# data ingestion
POSTGRES_CONNECTION_STRING=
COLLECTION_NAME=

# Google Drive API
GOOGLE_CREDENTIALS_PATH=credentials.json
DRIVE_NEW_FOLDER_ID=
DRIVE_PROCESSED_FOLDER_ID=
DRIVE_GROUND_TRUTH_FOLDER_ID=
# LLM api key
OPENAI_API_KEY=

# OpenWeatherMAP 
OPENWEATHERMAP_BASE_URL=
OPENWEATHERMAP_API_KEY=

# Authentication mode
AUTH_MODE=
jwt_secret_key=

# Keycloak
KEYCLOAK_URL=

# Storage (S3 / Local)
STORAGE_PROVIDER=s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=